mat-card {
   margin: 10px 0;
}

h1 {
    font-size: x-large;
    font-weight: normal;
    text-align: center;
}

mat-card-title,
.flex {
    display: flex;
}

.flex {
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .flex {
        flex-direction: column;
    }
}

.card-container {
    margin: 0 5px;
}

mat-progress-spinner {
    position: fixed;
    top: 45%;
}

mat-card-footer {
    display: flex;
    flex-direction: row-reverse;
}

.new-data,
.old-data,
.comment-section,
.feedback {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.new-data {
    background-color: #0701;
}

.old-data {
    background-color: #A001;
}

.feedback {
    background-color: #00A1;
}

.feedback textarea {
    width: 99%;
    resize: vertical;
}

.feedback p {
    margin: 0 14px;
}

.unreviewed {
    color: orange;
}

.rejected {
    color: red;
}

.approved {
    color: green;
}

.feedback-toggle {
    color: lightskyblue;
    margin: 0 auto 0 0;
}

button:disabled {
    background-color: #80808010;
}
