mat-card {
    margin: 1%;
}

mat-chip {
    color: white !important;
}

span {
    margin: 5px;
}

mat-form-field {
    width: 98%;
    padding: 5px;
    font-size: 0.7vmax;
}

mat-card-content *:nth-child(2) {
    margin-left: auto;
}

mat-toolbar, mat-card-content, .icon-with-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
}

mat-toolbar * {
    margin: 0 4px;
    align-self: center;
}

#reset-filters-button {
    margin-left: auto;
}

.git-icons {
    height: 16px;
    margin: 0 3px;
}

.icon-with-number {
    font-size: small;
    padding: 0 5px;
    cursor: pointer;
    color: dimgray;
}

.icon-with-number:hover {
    color: black;
}

.black {
    background: #444;
    font-weight: 500;
}

.chocolate {
    background: chocolate;
}

.darkblue {
    background: darkblue;
}

.gray {
    background: gray;
}

.gold {
    background: gold;
}

.steelblue {
    background: steelblue;
}

.yellowgreen {
    background: yellowgreen;
}

#filters_controls {
    text-align: right;
}
