<mat-toolbar id="filters_controls" *ngIf="!filters.isEmpty()">
    <form>
        <label>Фильтры
            <mat-form-field>
                <input matInput [(ngModel)]="filters.lang" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="filters.pl" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <button mat-button (click)="resetFilters()">Сбросить</button>
        </label>
    </form>
</mat-toolbar>

<div *ngFor="let repo of (githubService.repositories$ | async)">
    <mat-card *ngIf="isFilterPositive(repo)">
        <mat-card-header>
            <mat-card-title>
                <a href="{{ repo.svn_url }}" target="_blank">
                    {{ repo.name }}
                </a>
            </mat-card-title>
            <span *ngIf="repo.fork">
                [ forked from <a href="{{ repo.parent.url }}">{{ repo.parent.name }}</a> ]
            </span>
            <span class="fill-remaining-space"></span>
            <mat-chip-list>
                <mat-chip *ngIf="repo.language != null"
                          [ngClass]="colorizedLang(repo.language)"
                          (click)="addFilter('lang', repo.language)">
                    {{ repo.language }}
                </mat-chip>
                <mat-chip *ngIf="repo.license != null"
                          (click)="addFilter('pl', repo.license.name )"
                          color="primary"
                          selected>
                    {{ repo.license.name }}
                </mat-chip>
            </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="repo.description != null; else noDescription">
                {{ repo.description }}
            </div>
            <ng-template #noDescription>
                No description provided
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>
