mat-card {
    margin: 1%;
}

mat-chip {
    color: white !important;
}

span {
    margin: 5px;
}

a:link {
    color: royalblue;
    text-decoration-line: none;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: royalblue;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.black {
    background: #444;
    font-weight: 500;
}

.chocolate {
    background: chocolate;
}

.darkblue {
    background: darkblue;
}

.gray {
    background: gray;
}

.gold {
    background: gold;
}

.yellowgreen {
    background: yellowgreen;
}
